body {
  background-color: $light-gray;
}

h1, h2, h3, h4, h5, h6, p {
  // customized from Google fonts
  font-family: 'Montserrat', sans-serif;
  // font-family: "Sawarabi Gothic";
  color: $primary-text-color;
}
