$light-gray:  #f1f1f1;
$white: #FFFFFF;

// from "material palette", https://www.materialpalette.com/
$primary-color-dark:   #00796B;
$primary-color:        rgba(#009688,.73);
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #CDDC39;
$primary-text-color:   #212121;
$secondary-text-color: rgba(#757575,.43);
$divider-color:        #BDBDBD;
